*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #background{
    height: 100vh;
    widows: 100vh;
    overflow: hidden;
    background-color: transparent;

    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg1{
    background: url('1.jpg');
  }
  .bg2{
    background: url('2.jpg');
  }
  .bg3{
    background: url('3.jpg');
  }
  .bg4{
    background: url('4.jpg');
  }
  .bg5{
    background: url(' 5.jpg');
  }
  #container{
    width: 350px;
    height: 500px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.69);

  }
  #container:before{
    width: 400px;
    height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(10px);
  }
  #login img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }
  #login{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .in{
    background: 0;
    width: 200px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 20px 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
  }
  .submit{
    border: 0;
    border-radius: 8px;
    padding-bottom: 0;
    height: 60px;
    align-content: center;
    background: #df2359;
    color: white;
    cursor: pointer;
    transition: all 600ms ease-in-out;
  }
  .submit:hover{
    background: #C0392B;
  }
  .sub_log{
    background: lightgreen;
  }
  .sub_log:hover{
    background: greenyellow;
  }
  span a{
    color: rgba(255,255,255, 0.8);
  }
